{{define "content"}}

<h2 align="center">Contest List</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Sl</th>
            <th>Name</th>
            <th>Date</th>
            <th>Runtime</th>
        </tr>
        </thead>
        <tbody>
        {{range .contests}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/{{.ID}}">{{.Name}}</a></td>
            <td>{{.ContestDate.Format "2006-01-02"}}</td>
            <td>{{.RunningTime}} min</td>
        </tr>
        {{end}}
        </tbody>

    </table>
</div>
{{end}}