{{define "content"}}

<h2 align="center">Judges List</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Sl</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Join Date</th>
            <th>Current Status</th>
            <th>Admin Action</th>
        </tr>
        </thead>
        <tbody>
        {{range $i, $a := .data.judges}}
        <tr>
            <td>{{$i}}</td>
            <td><a href="/users/@{{$a.Username}}">{{$a.FirstName}} {{$a.LastName}}</a></td>
            <td>{{$a.Username}}</td>
            <td>{{$a.Email}}</td>
            <td>{{$a.DateCreated.Format "2006-01-02"}}</td>
            <td>{{if $a.AllowJudge}} Allowed {{else}} Not Allowed {{end}}</td>
            <td><a href="">Allow</a> / <a href="">Deny</a></td>
        </tr>
        {{end}}
        </tbody>

    </table>
</div>
{{end}}