{{define "content"}}

<h2 align="center">Ranking</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Score</th>
            <th>Total Contests</th>
            <th>Total Questions</th>
        </tr>
        </thead>
        <tbody>
        {{range $i, $a := .data.ranking}}
        <tr>
            <td>{{$a.Username}}</td>
            <td>{{$i}}</td>
            <td>{{$a.Score}}</td>
            <td>{{$a.TotalContests}}</td>
            <td>{{$a.TotalQuestions}}</td>
        </tr>
        {{end}}
        </tbody>

    </table>
</div>
{{end}}