{{define "content"}}

<h2 align="center">Teams List</h2>
{{if eq .data.alreadyJoined false}}
<a href="/teams/create">
    <button>Create Team</button>
</a>
{{end}}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Sl</th>
            <th>Team Name</th>
            <th>Leader</th>
            <th>Total Members</th>
            <th>Join Date</th>
            <th>Current Status</th>
            <th>Admin Action</th>
        </tr>
        </thead>
        <tbody>
        {{range $i, $a := .data.teams}}
        <tr>
            <td>{{$i}}</td>
            <td><a href="/users/@{{$a.Slug}}">{{$a.Name}} (@{{$a.Slug}})</a></td>
            <td>{{$a.Leader}}</td>
            <td>{{$a.MemberCount}}</td>
            <td>{{$a.DateCreated}}</td>
            <td>{{$a.Status}}</td>
            <td><a href="">Allow</a> / <a href="">Deny</a></td>
        </tr>
        {{end}}
        </tbody>

    </table>
</div>
{{end}}