{{define "content"}}

<h2 align="center">Judges List</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Sl</th>
            <th>Name</th>
            <th>Email</th>
            <th>Join Date</th>
            <th>Current Status</th>
            <th>Admin Action</th>
        </tr>
        </thead>
        <tbody>
        {{range .judges}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/{{.ID}}">{{.FirstName}} {{.LastName}}</a></td>
            <td>{{.Email}}</td>
            <td>{{.DateCreated.Format "2006-01-02"}}</td>
            <td>{{if .AllowJudge}} Yes {{else}} No {{end}}</td>
            <td><a href="">Allow</a> / <a href="">Deny</a></td>
        </tr>
        {{end}}
        </tbody>

    </table>
</div>
{{end}}