{{define "content"}}
<div class="panel panel-default">
  <div class="panel-heading">Profile Details: {{ .user.Email }}</div>
  <div class="panel-body">
      <h3>Name: {{ .user.FirstName }} {{ .user.LastName }}</h3>
      <hr>
      <h3>Email: {{ .user.Email }}</h3>
      <hr>
      <h3>Username: {{ .user.Username }}</h3>
      <hr>
      <h3>Joined: {{ .user.DateCreated.Format "Monday, Jan 03 2006 at 3:04:05am" }}</h3>
      <hr>
      <h3>Total Points: 0</h3>
      <hr>
      <h3>Total Solutions: 0</h3>
      <hr>
      <h3>Total Contests: 0</h3>
      <hr>
      <h3>Rank: 0</h3>
      <hr>
  </div>
</div>
{{end}}